In [ ]:
import pandas as pd

df = pd.read_csv('atp_matches_2022.csv', sep=',')
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2022-8888,Atp Cup,Hard,16,A,20220103,300,200000,NaN,NaN,...,50.0,32.0,7.0,10.0,3.0,5.0,11.0,3308.0,19.0,2260.0
1,2022-8888,Atp Cup,Hard,16,A,20220103,299,133430,NaN,NaN,...,33.0,21.0,8.0,9.0,3.0,6.0,14.0,2475.0,20.0,2230.0
2,2022-8888,Atp Cup,Hard,16,A,20220103,298,105138,NaN,NaN,...,80.0,62.0,20.0,16.0,6.0,7.0,19.0,2260.0,9.0,3706.0
3,2022-8888,Atp Cup,Hard,16,A,20220103,297,105807,NaN,NaN,...,27.0,17.0,1.0,7.0,4.0,8.0,20.0,2230.0,860.0,18.0
4,2022-8888,Atp Cup,Hard,16,A,20220103,296,106421,NaN,NaN,...,35.0,22.0,4.0,8.0,3.0,7.0,2.0,8640.0,11.0,3308.0

In [ ]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [ ]:
df = df[['tourney_id', 'winner_id', 'winner_name', 'loser_id',  'loser_name', 'winner_rank', 'loser_rank' , 'winner_rank_points', 'loser_rank_points' ]]
df.head(8)

,tourney_id,winner_id,winner_name,loser_id,loser_name,winner_rank,loser_rank,winner_rank_points,loser_rank_points
0,2022-8888,200000,Felix Auger Aliassime,105138,Roberto Bautista Agut,11.0,19.0,3308.0,2260.0
1,2022-8888,133430,Denis Shapovalov,105807,Pablo Carreno Busta,14.0,20.0,2475.0,2230.0
2,2022-8888,105138,Roberto Bautista Agut,128034,Hubert Hurkacz,19.0,9.0,2260.0,3706.0
3,2022-8888,105807,Pablo Carreno Busta,126591,Jan Zielinski,20.0,860.0,2230.0,18.0
4,2022-8888,106421,Daniil Medvedev,200000,Felix Auger Aliassime,2.0,11.0,8640.0,3308.0
5,2022-8888,133430,Denis Shapovalov,126128,Roman Safiullin,14.0,167.0,2475.0,409.0
6,2022-8888,134770,Casper Ruud,105583,Dusan Lajovic,8.0,33.0,4160.0,1591.0
7,2022-8888,105936,Filip Krajinovic,126340,Viktor Durasovic,42.0,345.0,1402.0,137.0

In [ ]:
# Задача1
# Найдем среднюю вероятность победы всех игроков в рассматриваемом массиве, затем найдем вероятность победы игроков, у которых разница в рейтинге  от  20 пунктов. 
# И сравним эти вероятности

# Турниров много (145):
df['tourney_id'].unique()

array(['2022-8888', '2022-8998', '2022-9665', '2022-9667', '2022-9663',
       '2022-580', '2022-9158', '2022-0375', '2022-0891', '2022-0506',
       '2022-0407', '2022-0424', '2022-0499', '2022-0451', '2022-6932',
       '2022-0496', '2022-0807', '2022-0495', '2022-8996', '2022-0404',
       '2022-0403', '2022-0717', '2022-0360', '2022-0410', '2022-0425',
       '2022-5053', '2022-7290', '2022-0308', '2022-1536', '2022-0416',
       '2022-0322', '2022-7694', '2022-520', '2022-0440', '2022-0321',
       '2022-0500', '2022-0311', '2022-8994', '2022-0741', '2022-540',
       '2022-0316', '2022-0315', '2022-0414', '2022-0314', '2022-6116',
       '2022-0319', '2022-0439', '2022-7480', '2022-0418', '2022-0421',
       '2022-0422', '2022-6242', '2022-560', '2022-9569', '2022-0341',
       '2022-9210', '2022-4140', '2022-7434', '2022-4138', '2022-9410',
       '2022-0329', '2022-2805', '2022-2807', '2022-2809', '2022-0429',
       '2022-7485', '2022-0328', '2022-0337', '2022-0352', '2022-7696',
       '2022-0605', '2022-M-DC-2022-FLS-1-A-M-ARG-CRO-01',
       '2022-M-DC-2022-FLS-1-A-M-ARG-SWE-01',
       '2022-M-DC-2022-FLS-1-A-M-CRO-SWE-01',
       '2022-M-DC-2022-FLS-1-A-M-ITA-ARG-01',
       '2022-M-DC-2022-FLS-1-A-M-ITA-CRO-01',
       '2022-M-DC-2022-FLS-1-A-M-ITA-SWE-01',
       '2022-M-DC-2022-FLS-2-B-M-ESP-CAN-01',
       '2022-M-DC-2022-FLS-2-B-M-ESP-KOR-01',
       '2022-M-DC-2022-FLS-2-B-M-ESP-SRB-01',
       '2022-M-DC-2022-FLS-2-B-M-KOR-CAN-01',
       '2022-M-DC-2022-FLS-2-B-M-KOR-SRB-01',
       '2022-M-DC-2022-FLS-2-B-M-SRB-CAN-01',
       '2022-M-DC-2022-FLS-3-C-M-AUS-BEL-01',
       '2022-M-DC-2022-FLS-3-C-M-FRA-AUS-01',
       '2022-M-DC-2022-FLS-3-C-M-FRA-BEL-01',
       '2022-M-DC-2022-FLS-3-C-M-FRA-GER-01',
       '2022-M-DC-2022-FLS-3-C-M-GER-AUS-01',
       '2022-M-DC-2022-FLS-3-C-M-GER-BEL-01',
       '2022-M-DC-2022-FLS-4-D-M-GBR-KAZ-01',
       '2022-M-DC-2022-FLS-4-D-M-GBR-NED-01',
       '2022-M-DC-2022-FLS-4-D-M-KAZ-NED-01',
       '2022-M-DC-2022-FLS-4-D-M-USA-GBR-01',
       '2022-M-DC-2022-FLS-4-D-M-USA-KAZ-01',
       '2022-M-DC-2022-FLS-4-D-M-USA-NED-01',
       '2022-M-DC-2022-FLS-M-AUS-CRO-01',
       '2022-M-DC-2022-FLS-M-AUS-NED-01',
       '2022-M-DC-2022-FLS-M-CAN-AUS-01',
       '2022-M-DC-2022-FLS-M-CRO-ESP-01',
       '2022-M-DC-2022-FLS-M-GER-CAN-01',
       '2022-M-DC-2022-FLS-M-ITA-CAN-01',
       '2022-M-DC-2022-FLS-M-ITA-USA-01',
       '2022-M-DC-2022-QLS-M-ARG-CZE-01',
       '2022-M-DC-2022-QLS-M-AUS-HUN-01',
       '2022-M-DC-2022-QLS-M-AUT-KOR-01',
       '2022-M-DC-2022-QLS-M-BEL-FIN-01',
       '2022-M-DC-2022-QLS-M-CAN-NED-01',
       '2022-M-DC-2022-QLS-M-ESP-ROU-01',
       '2022-M-DC-2022-QLS-M-FRA-ECU-01',
       '2022-M-DC-2022-QLS-M-GER-BRA-01',
       '2022-M-DC-2022-QLS-M-ITA-SVK-01',
       '2022-M-DC-2022-QLS-M-KAZ-NOR-01',
       '2022-M-DC-2022-QLS-M-SWE-JPN-01',
       '2022-M-DC-2022-QLS-M-USA-COL-01',
       '2022-M-DC-2022-WG1-M-AUT-PAK-01',
       '2022-M-DC-2022-WG1-M-BIH-MEX-01',
       '2022-M-DC-2022-WG1-M-BRA-POR-01',
       '2022-M-DC-2022-WG1-M-CHI-PER-01',
       '2022-M-DC-2022-WG1-M-COL-TUR-01',
       '2022-M-DC-2022-WG1-M-CZE-ISR-01',
       '2022-M-DC-2022-WG1-M-ECU-SUI-01',
       '2022-M-DC-2022-WG1-M-FIN-NZL-01',
       '2022-M-DC-2022-WG1-M-HUN-UKR-01',
       '2022-M-DC-2022-WG1-M-IND-NOR-01',
       '2022-M-DC-2022-WG1-M-JPN-UZB-01',
       '2022-M-DC-2022-WG1-M-SVK-ROU-01',
       '2022-M-DC-2022-WG1-PO-CHI-SLO-01',
       '2022-M-DC-2022-WG1-PO-IND-DEN-01',
       '2022-M-DC-2022-WG1-PO-PAK-LTU-01',
       '2022-M-DC-2022-WG1-PO-UZB-TUR-01',
       '2022-M-DC-2022-WG2-M-BAR-IRL-01',
       '2022-M-DC-2022-WG2-M-BOL-THA-01',
       '2022-M-DC-2022-WG2-M-DEN-ESA-01',
       '2022-M-DC-2022-WG2-M-DOM-LAT-01',
       '2022-M-DC-2022-WG2-M-LBN-MON-01',
       '2022-M-DC-2022-WG2-M-LTU-EGY-01',
       '2022-M-DC-2022-WG2-M-POL-INA-01',
       '2022-M-DC-2022-WG2-M-RSA-BUL-01',
       '2022-M-DC-2022-WG2-M-SLO-EST-01',
       '2022-M-DC-2022-WG2-M-TPE-HKG-01',
       '2022-M-DC-2022-WG2-M-TUN-GRE-01',
       '2022-M-DC-2022-WG2-M-URU-CHN-01',
       '2022-M-DC-2022-WG2-PO-EGY-CYP-01',
       '2022-M-DC-2022-WG2-PO-GRE-JAM-01',
       '2022-M-DC-2022-WG2-PO-HKG-BEN-01'], dtype=object)

In [ ]:
df['tourney_id'].nunique()

145

In [ ]:
# На первом шаге рассмотрим один турнир '2022-8888'
cond0 = df['tourney_id'] == '2022-8888'
df[cond0].head()

,tourney_id,winner_id,winner_name,loser_id,loser_name,winner_rank,loser_rank,winner_rank_points,loser_rank_points
0,2022-8888,200000,Felix Auger Aliassime,105138,Roberto Bautista Agut,11.0,19.0,3308.0,2260.0
1,2022-8888,133430,Denis Shapovalov,105807,Pablo Carreno Busta,14.0,20.0,2475.0,2230.0
2,2022-8888,105138,Roberto Bautista Agut,128034,Hubert Hurkacz,19.0,9.0,2260.0,3706.0
3,2022-8888,105807,Pablo Carreno Busta,126591,Jan Zielinski,20.0,860.0,2230.0,18.0
4,2022-8888,106421,Daniil Medvedev,200000,Felix Auger Aliassime,2.0,11.0,8640.0,3308.0

In [ ]:
# Создадим новую таблицу df2, включающую и выигрыши, и проигрыши тенниссистов
# df2 = df[cond0]
df2 = df
df2 = df2.drop(['winner_rank_points', 'loser_rank_points'], axis = 1)
df2.columns = ['tourney_id', 'a_id', 'a_name', 'b_id', 'b_name', 'a_rank', 'b_rank']


df3 = df2[['tourney_id', 'b_id', 'b_name', 'a_id', 'a_name', 'b_rank', 'a_rank'] ]
df3.columns = ['tourney_id', 'a_id', 'a_name', 'b_id', 'b_name', 'a_rank', 'b_rank']

df3['win']=0
df3['lose']=1
df3


df2['win']=1
df2['lose']=0

<ipython-input-125-eaecf5d08be4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['win']=0
<ipython-input-125-eaecf5d08be4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['lose']=1

In [ ]:
df4 = pd.concat([df2, df3])
df4

,tourney_id,a_id,a_name,b_id,b_name,a_rank,b_rank,win,lose
0,2022-8888,200000,Felix Auger Aliassime,105138,Roberto Bautista Agut,11.0,19.0,1,0
1,2022-8888,133430,Denis Shapovalov,105807,Pablo Carreno Busta,14.0,20.0,1,0
2,2022-8888,105138,Roberto Bautista Agut,128034,Hubert Hurkacz,19.0,9.0,1,0
3,2022-8888,105807,Pablo Carreno Busta,126591,Jan Zielinski,20.0,860.0,1,0
4,2022-8888,106421,Daniil Medvedev,200000,Felix Auger Aliassime,2.0,11.0,1,0
...,...,...,...,...,...,...,...,...,...
2911,2022-M-DC-2022-WG2-PO-GRE-JAM-01,209080,Blaise Bicknell,209362,Aristotelis Thanos,1130.0,1103.0,0,1
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,202120,Rowland Phillips,202065,Petros Tsitsipas,1390.0,808.0,0,1
2913,2022-M-DC-2022-WG2-PO-HKG-BEN-01,105278,Alexis Klegou,138846,Hong Kit Jack Wong,1881.0,1059.0,0,1
2914,2022-M-DC-2022-WG2-PO-HKG-BEN-01,200583,Delmas Ntcha,209409,Coleman Wong,NaN,NaN,0,1
2915,2022-M-DC-2022-WG2-PO-HKG-BEN-01,207132,Ki Lung Ng,208414,Sylvestre Monnou,NaN,NaN,0,1

In [ ]:
# Добавим колонку с критерием разницы в ранке больше или равно 20
df4['delta'] = df4['b_rank'] - df4['a_rank'] >= 20
df4

,tourney_id,a_id,a_name,b_id,b_name,a_rank,b_rank,win,lose,delta
0,2022-8888,200000,Felix Auger Aliassime,105138,Roberto Bautista Agut,11.0,19.0,1,0,False
1,2022-8888,133430,Denis Shapovalov,105807,Pablo Carreno Busta,14.0,20.0,1,0,False
2,2022-8888,105138,Roberto Bautista Agut,128034,Hubert Hurkacz,19.0,9.0,1,0,False
3,2022-8888,105807,Pablo Carreno Busta,126591,Jan Zielinski,20.0,860.0,1,0,True
4,2022-8888,106421,Daniil Medvedev,200000,Felix Auger Aliassime,2.0,11.0,1,0,False
...,...,...,...,...,...,...,...,...,...,...
2911,2022-M-DC-2022-WG2-PO-GRE-JAM-01,209080,Blaise Bicknell,209362,Aristotelis Thanos,1130.0,1103.0,0,1,False
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,202120,Rowland Phillips,202065,Petros Tsitsipas,1390.0,808.0,0,1,False
2913,2022-M-DC-2022-WG2-PO-HKG-BEN-01,105278,Alexis Klegou,138846,Hong Kit Jack Wong,1881.0,1059.0,0,1,False
2914,2022-M-DC-2022-WG2-PO-HKG-BEN-01,200583,Delmas Ntcha,209409,Coleman Wong,NaN,NaN,0,1,False
2915,2022-M-DC-2022-WG2-PO-HKG-BEN-01,207132,Ki Lung Ng,208414,Sylvestre Monnou,NaN,NaN,0,1,False

In [ ]:
df4['Total'] = df4['win'] + df4['lose']
df5 = df4.groupby('a_name')[['win', 'lose', 'Total']].sum()
df5.head()

                             win  lose  Total
a_name
Adrian Mannarino              28    26     54
Ainius Sabaliauskas            1     0      1
Aisam Ul Haq Qureshi           1     0      1
Ajeet Rai                      0     1      1
Alan Fernando Rubio Fierros    0     1      1

In [ ]:
#Найдем вероятность выигрыша в общем случае
P1 = df5.win.sum()/df5.Total.sum()
P1 = P1.round(2)
P1

0.5

In [ ]:
#Найдем вероятность выигрыша для delta>20

df6 = df4[df4['delta'] == 1].groupby('a_name')[['win', 'lose', 'Total']].sum()
P2 = df6.win.sum()/df6.Total.sum()
P2 = P2.round(2)
P2

0.68

In [ ]:
print(f'Средняя вероятность выигрыша игрока = {P1}. Вероятность выигрыша при разнице более 20 пунктов = {P2}. Таким образом, вероятность значимо повышается')

Средняя вероятность выигрыша игрока = 0.5. Вероятность выигрыша при разнице более 20 пунктов = 0.68. Таким образом, вероятность значимо повышается